{% extends "watchlist/base.html" %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
<li class="breadcrumb-item active">Watchlists</li>
{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" class="btn btn-warning" value="Import">
</form>
{% endblock %}
