{% extends "watchlist/base.html" %}
{% load static %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'watchlist:list' %}">Watchlists</a></li>
<li class="breadcrumb-item"><a href="{% url 'watchlist:detail' object.watchlist.id %}">{{ object.watchlist.name }}</a></li>
<li class="breadcrumb-item active">{{ object.id }} ({{ object.show.name }})</li>
{% endblock %}

{% block content %}
<h2>Edit WatchlistEntry</h2>
<form method="post">
  {% csrf_token %}
  <table class="table">
    <tr><th>Show [{{object.show.id}}]</th><td><a href="{% url 'show:detail' object.show.id %}">{{ object.show.name }}</a></td></tr>
    <tr><th>Watchlist</th><td>{{ form.watchlist }}</td></tr>
    <tr><th>Status</th><td>{{ form.status }}</td></tr>
    <tr><th>Episodes</th><td>{{ object.show.episodes }}</td></tr>
    <tr><th>Ext Reference</th><td>{% for i, u in object.show.get_ext_uris %}<a href="{{u}}">{{i}}</a>{% endfor %}</td></tr>
    <tr><th>Bookmark</th><td>{{ object.episode_counter }}</td>
    <tr><th>Current</th><td>{{ object.cache_episode_counter }}</td>
    <tr><th>Cache age</th><td>{{ object.cache_refresh_date|timesince }}</td>
    <tr><th>Release age</th><td>{{ object.cache_release_date|timesince }}</td>
  </table>
  <input type="submit" class="btn btn-warning" value="Save">
</form>
{% endblock %}