{% extends "watchlist/base.html" %}
{% load static %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'watchlist:list' %}">Watchlists</a></li>
<li class="breadcrumb-item active">{{ object.name }}</li>
{% endblock %}

{% block content %}
<h2>Episodes</h2>
<form method="post" novalidate>
{% csrf_token %}
<input type="hidden" name="redirect" value="{% url 'watchlist:detail' object.id %}">
<table class="table">
  <tr><th>Title</th><th>File Details</th><th>Action</th></tr>
{% for wle in object.get_active_entries %}
  {% for ep in wle.get_new_episodes %}
    <tr>
      <td>{{ ep.title }}</td>
      <td>{{ ep }}</td>
      <td><input class="btn btn-info"type="submit" formaction="{% url 'watchlist:ack' object.id wle.id %}?season={{ep.season}}&episode={{ep.episode}}&revision={{ep.revision}}" value="Ack {{ ep.episode_counter }}"></td>
    </tr>
  {% endfor %}
{% endfor %}
</table>
</form>


<h2>Watch-Links</h2>
<div id="link-container">
  <div id="link-data" style="position: absolute;">
{% for link in object.get_new_watchlinks %}
    <a href="{{link.url}}">{{ link.url }}</a><br>
{% empty %}
No new watchlinks available
{% endfor %}
  </div>
  <div id="link-names" style="margin-left: 20em;">
{% for link in object.get_new_watchlinks %}
    <span>{{ link.show }} {{ link.episode }}</span><br>
{% empty %}
No new watchlinks available
{% endfor %}
  </div>
</div>


<h2>Watched Shows</h2>
<table class="table">
  <thead><tr>
    <th>Ext Reference</th>
    <th>ID</th>
    <th>Title</th>
    <th>Status</th>
    <th>Episodes</th>
    <th>Bookmark</th>
    <th>Current</th>
    <th>Cache age</th>
    <th>Release age</th>
    <th>Refresh</th>
  </tr></thead>
  <tbody>
{% for wl_entry in object.entries.all %}
  <tr>
    <td>
      {% for i, u in wl_entry.show.get_ext_uris %}<a href="{{u}}">{{i}}</a>{% endfor %}
    </td>
    <td><a href="{% url 'watchlist:entry_detail' wl_entry.id %}">{{wl_entry.id}}</a></td>
    <td>{{ wl_entry.show.name }}</td>
    <td>{{ wl_entry.get_status_display }}</td>
    <td>{{ wl_entry.show.episodes|default:'?' }}</td>
    <td>{{ wl_entry.episode_counter }}</td>
    <td>{{ wl_entry.cache_episode_counter }}</td>
    <td>{{ wl_entry.cache_refresh_date|timesince }}</td>
    <td>{% include "./incl/week_progress.html" with item=wl_entry %}</td>
    <td>
      {% if wl_entry.show.ext_srcs.all.count > 0 %}
     <a class="btn btn-warning" href="{% url 'show:refresh' wl_entry.show.id %}?redirect={% url 'watchlist:detail' object.id %}">Refresh</a>
      {% else %}
        {% if wl_entry.show.release_date <= today %}
          <a class="btn btn-success" href="{% url 'show:add_src_nyaa' wl_entry.show.id %}">Add Source ({{ wl_entry.show.release_date }})</a>
        {% else %}
          <a class="btn btn-secondary" href="{% url 'show:add_src_nyaa' wl_entry.show.id %}">Add Source ({{ wl_entry.show.release_date }}) </a>
        {% endif %}
      {% endif %}
    </td>
  </tr>
{% empty %}
  <tr><td colspan="5">No shows available</td></tr>
{% endfor %}
  </tbody>
</table>
<div>
  <a class="btn btn-dark" href="{#% url 'show:show_create' %#}">Create a new show</a>
  <a class="btn btn-dark" href="{#% url 'show:show_import_mal' %#}">Import show from MyAnimeList</a>
  <form method="post" novalidate>
    {% csrf_token %}
    <input type="hidden" name="redirect" value="{% url 'watchlist:detail' object.id %}">
    <input type="submit" class="btn btn-success" formaction="{% url 'watchlist:refresh_promising' object.id%}" value="Refresh promising">
    <input type="submit" class="btn btn-warning" formaction="{% url 'watchlist:refresh_all' object.id%}" value="Refresh all">
  </form>
</div>
{% endblock %}
