{% extends "watchlist/base.html" %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
<li class="breadcrumb-item active">Watchlists</li>
{% endblock %}

{% block content %}
<table class="table">
  <thead><tr>
    <th>ID</th>
    <th>Name</th>
    <th>Created</th>
    <th>Entries</th>
  </tr></thead>
  <tbody>
{% for object in object_list %}
  <tr>
    <td><a href="{% url 'watchlist:detail' object.pk %}">{{object.id}}</a></td>
    <td><a href="{% url 'watchlist:detail' object.pk %}">{{object.name}}</a></td>
    <td>{{ object.created|date:"Y-m-d" }}</td>
    <td>{{ object.entries.count }}</td>
  </tr>
{% empty %}
  <tr><td colspan="5">No watchlists available</td></tr>
{% endfor %}
  </tbody>
</table>
<div>
  <a class="btn btn-primary" href="{#% url 'show:watchlist_create' %#}">Create a new watchlist</a>
  <a class="btn btn-secondary" href="{% url 'watchlist:import_twcli' %}">Import from twcli</a>
  <a class="btn btn-secondary" href="{% url 'watchlist:import_malinder' %}">Import from malinder</a>
</div>
{% endblock %}
