{% extends "watchlist/base.html" %}
{% load static %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'watchlist:list' %}">Watchlists</a></li>
<li class="breadcrumb-item"><a href="{% url 'watchlist:detail' object.watchlist.id %}">{{ object.watchlist.name }}</a></li>
<li class="breadcrumb-item active">{{ object.id }} ({{ object.show.name }})</li>
{% endblock %}

{% block content %}
<h2>WatchlistEntry Details</h2>
<table class="table">
  <tr><th>Show [{{object.show.id}}]</th><td><a href="{% url 'show:detail' object.show.id %}">{{ object.show.name }}</a></td></tr>
  <tr><th>Watchlist [{{object.watchlist.id}}]</th><td><a href="{% url 'watchlist:detail' object.watchlist.id %}">{{ object.watchlist.name }}</a></td></tr>
  <tr><th>Ext Reference</th><td>{% for i, u in object.show.get_ext_uris %}<a href="{{u}}">{{i}}</a>{% endfor %}</td></tr>
  <tr><th>Status</th><td>{{ object.get_status_display }}</td>
  <tr><th>Episodes</th><td>{{ object.show.episodes }}</td>
  <tr><th>Bookmark</th><td>{{ object.episode_counter }}</td>
  <tr><th>Current</th><td>{{ object.cache_episode_counter }}</td>
  <tr><th>Cache age</th><td>{{ object.cache_refresh_date|timesince }}</td>
  <tr><th>Release age</th><td>{{ object.cache_release_date|timesince }}</td>
  <tr>
    <th>Actions</th>
    <td>
      <a class="btn btn-primary" href="{% url 'watchlist:entry_update' object.id %}">Edit</a>
      {% if object.show.ext_srcs.all.count > 0 %}
        <a class="btn btn-warning" href="{% url 'show:refresh' object.show.id %}?redirect={% url 'watchlist:entry_detail' object.id %}">Refresh</a>
      {% else %}
        {% if object.show.release_date <= today %}
          <a class="btn btn-success" href="{% url 'show:add_src_nyaa' object.show.id %}">Add Source ({{ object.show.release_date }})</a>
        {% else %}
          <a class="btn btn-secondary" href="{% url 'show:add_src_nyaa' object.show.id %}">Add Source ({{ object.show.release_date }}) </a>
        {% endif %}
      {% endif %}
      <a class="btn btn-warning" href="{% url 'show:update' object.show.id %}?redirect={% url 'watchlist:entry_detail' object.id %}">Update</a>
    </td>
  </tr>
</table>

<h2>Episodes</h2>
<form method="post" novalidate>
{% csrf_token %}
<input type="hidden" name="redirect" value="{% url 'watchlist:entry_detail' object.id %}">
<table class="table">
  <tr><th>Title</th><th>File Details</th><th>Action</th></tr>
  {% for ep in object.get_episodes %}
    <tr>
      <td>{{ ep.title }}</td>
      <td>{{ ep }}</td>
      <td>
        {% if ep.revision is None and object.season == ep.season and object.episode == ep.episode or object.revision == ep.revision and object.season == ep.season and object.episode == ep.episode %}
        <span class="btn btn-dark">Bookmark</span>
        {% else %}
        <input class="btn btn-info"type="submit" formaction="{% url 'watchlist:ack' object.watchlist.id object.id %}?season={{ep.season}}&episode={{ep.episode}}&revision={{ep.revision}}" value="Ack {{ ep.episode_counter }}">
        {% endif %}
      </td>
    </tr>
{% empty %}
    <tr><td colspan="3">No episodes available</td></tr>
{% endfor %}
</table>
</form>


<h2>Watch-Links</h2>
{% for link in object.get_watchlinks %}
<a href="{{link}}">{{ link }}</a><br>
{% empty %}
No new watchlinks available
{% endfor %}
{% endblock %}
