{% load static %}
<!doctype html>
<html lang="de">
  <head>
    <title>timewaster</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
	{% block header_additional %}{% endblock %}
  </head>

  <body>
    <div id="header-wrapper" class="container-fluid sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Timewaster</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownShows" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Shows
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'show:show_list' %}">Shows</a></li>
                  <li><a class="dropdown-item" href="{% url 'show:episode_list' %}">Episodes</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Dummy</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Profile
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{#% url 'password_change' %#}">Change Password</a></li>
                  <li><a class="dropdown-item" href="{#% url 'logout' %#}">Logout '{{ request.user }}'</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      {% block breadcrumbs-wrapper %}
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-orange">
          {% block breadcrumbs %}
          <li class="breadcrumb-item active"><a href="{% url 'index' %}">empty</a></li>
          {% endblock %}
        </ol>
      </nav>
      {% endblock %}
    </div>

    <div id="mainarea-wrapper" class="container-fluid">
      {% block content-wrapper %}Dummy content-warapper{% endblock %}
    </div>

    <div id="footer-wrapper" class="container-fluid fixed-bottom">
      {% block footer-wrapper %}{% endblock %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/popper.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>

  </body>
</html>
