{% extends "base.html" %}
{% block content-wrapper %}
<div class="m-2"><h4>Showlist</h4></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'show:show_list' %}">Show Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'show:episode_list' %}">Episode Listing</a></div>
{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item active"><a href="{% url 'index' %}">Home</a></li>
{% endblock %}
