
{% extends "shows/base.html" %}
{% load static %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'show:episode_list' %}">Episodes</a></li>
<li class="breadcrumb-item active">{{ object.pk }}</li>
{% endblock %}

{% block content %}
<table class="table">
    <tr><td>show</td><td>{{ object.seen }}</td></tr>
    <tr><td>reference</td><td>{{ object.acquired }}</td></tr>
    <tr><td>season</td><td>{{ object.season }}</td></tr>
    <tr><td>num</td><td>{{ object.num }}</td></tr>
    <tr><td>title</td><td>{{ object.title }}</td></tr>
    <tr><td>pubdate</td><td>{{ object.pubdate }}</td></tr>
    <tr><td>runtime</td><td>{{ object.runtime }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}
