
{% extends "shows/base.html" %}
{% load static %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'show:show_list' %}">Shows</a></li>
<li class="breadcrumb-item active">{{ object.pk }}</li>
{% endblock %}

{% block content %}
<h2>Details</h2>
<table class="table">
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>name_en</td><td>{{ object.name_en }}</td></tr>
    <tr><td>name_jp_romaji</td><td>{{ object.name_jp_romaji }}</td></tr>
    <tr><td>name_jp</td><td>{{ object.name_jp }}</td></tr>
    <tr><td>comment</td><td>{{ object.comment }}</td></tr>
    <tr><td>MyAnimeList</td>
        <td>
            {% if object.mal_id != None %}
            <a href="https://myanimelist.net/anime/{{object.mal_id}}">{{object.mal_id}}</a>
            {% endif %}
        </td>
    </tr>
    <tr><td>Release Date</td><td>{{ object.release_date }}</td></tr>
    <tr><td>Source</td><td>{{ object.source_type }}: {{ object.source }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>
{% if not sources and object.source_type != 'NONE' %}
<a class="btn btn-secondary" href="{% url 'show:show_watch' object.pk %}">Watch {{object.source_type}}</a>
{% endif %}

{% if sources %}
<h2>Sources [{{object.source_type }}]</h2>
<table>
  <thead><tr>
    <th>Season</th>
    <th>Episode</th>
    <th>Episode title</th>
    <th>Size</th>
    <th>link</th>
  </tr></thead>
  <tbody>
{% for ep in sources %}
  <tr>
    <td>{{ ep.season }}</td>
    <td>{{ ep.episode }}</td>
    <td>{{ ep.title }}</td>
    <td>{{ ep.size }}</td>
    <td><a href="{{ep.dl}}">Watch</a></td>
  </tr>
{% empty %}
  <tr><td colspan="3">No sources available</td></tr>
{% endfor %}
  </tbody>
</table>
{#{sources}#}
{% endif %}
{% endblock %}
