{% extends "shows/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'show:show_list' %}">Shows</a></li>
{% if object %}
<li class="breadcrumb-item active"><a href="{% url 'show:show_detail' object.pk %}">{{ object.pk }}</a></li>
<li class="breadcrumb-item">Update</li>
{% else %}
<li class="breadcrumb-item">Create</li>
{% endif %}
{% endblock %}

{% block content %}
{% crispy form %}
{% endblock %}
