
{% extends "shows/base.html" %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
<li class="breadcrumb-item active">Shows</li>
{% endblock %}

{% block content %}
<table>
  <thead><tr>
    <th>MyAnimeList</th>
    <th>Title EN</th>
    <th>Title JP</th>
    <th>Title Romaji</th>
    <th>Date</th>
  </tr></thead>
  <tbody>
{% for object in object_list %}
  <tr>
    <td>
      {% if object.mal_id is not None %}
      <a href="https://myanimelist.net/anime/{{object.mal_id}}">{{object.mal_id}}</a>
      {% endif %}
    </td>
    <td>
      {% if object.name_en is not None %}
      <a href="{% url 'show:show_detail' object.pk %}">{{object.name_en|default:"-"}}</a>
      {% else %}
      -
      {% endif %}
    </td>
    <td>
      {% if object.name_jp_romaji is not None %}
      <a href="{% url 'show:show_detail' object.pk %}">{{object.name_jp_romaji|default:"-"}}</a>
      {% else %}
      -
      {% endif %}
    </td>
    <td>
      {% if object.name_jp is not None %}
      <a href="{% url 'show:show_detail' object.pk %}">{{object.name_jp|default:"-"}}</a>
      {% else %}
      -
      {% endif %}
    </td>
    <td>
      {% if object.release_date is not None %}
      {{object.release_date}}
      {% else %}
      -
      {% endif %}
    </td>
  </tr>
{% empty %}
  <tr><td colspan="5">No shows available</td></tr>
{% endfor %}
  </tbody>
</table>
<div>
  <a class="btn btn-primary" href="{% url 'show:show_create' %}">Create a new show</a>
  <a class="btn btn-secondary" href="{% url 'show:show_import_mal' %}">Import show from MyAnimeList</a>
</div>
{% endblock %}
