{% load static %}
<!doctype html>
<html lang="de">
  <head>
    <title>timewaster</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <script type="text/javascript" src="/files/static/js/darkmode-switch.js"></script>
	{% block header_additional %}{% endblock %}
  </head>

  <body>
    <div id="header-wrapper" class="sticky-top">
      <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Timewaster</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <button class="text-body-emphasis nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (auto)">
                  <span class="ms-2" id="bd-theme-text">Toggle theme</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
                  <li>
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                      Light
                    </button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                      Dark
                    </button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                      Auto
                    </button>
                  </li>
                </ul>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownApps" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Apps
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'show:list' %}">Shows</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'watchlist:list' %}">Watchlists</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown dropstart">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Profile
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a></li>
                  <li><a class="dropdown-item" href="{% url 'logout' %}">Logout '{{ request.user }}'</a></li>
                </ul>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>

      {% block breadcrumbs-wrapper %}
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-orange">
          {% block breadcrumbs %}
          <li class="breadcrumb-item active"><a href="{% url 'index' %}">empty</a></li>
          {% endblock %}
        </ol>
      </nav>
      {% endblock %}
    </div>

    <div id="mainarea-wrapper" class="container-fluid">
      {% block content-wrapper %}
      <div class="container-xxl">
        <div class="card w-auto mt-3 mb-5 mx-3">
          <div class="card-body">
            {% block content %}
            <h1>Default page</h1>
            This default pages has no content.
            {% endblock %}
          </div>
        </div>
      </div>
      {% endblock %}
    </div>

    <div id="footer-wrapper" class="container-fluid fixed-bottom">
      {% block footer-wrapper %}{% endblock %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/popper.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>

  </body>
</html>
