{% extends "base.html" %}
{% block breadcrumbs %}
<li class="breadcrumb-item active"><a href="{% url 'index' %}">Home</a></li>
{% endblock %}

{% block content-wrapper %}
<div class="m-2"><h4>Shows</h4></div>
<div class="m-2"><a class="btn btn-primary" href="{% url 'show:list' %}">Shows</a></div>
<div class="m-2"><a class="btn btn-primary" href="{% url 'watchlist:list' %}">Watchlists</a></div>
{% endblock %}
