{% extends "base.html" %}
{% load static %}

{% block content-wrapper %}
<div id="content-wrapper" class="container-fluid">
{% block content %}
Dummy block
{% endblock %}
</div>
{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item active"><a href="{% url 'index' %}">Shows</a></li>
{% endblock %}
