{% extends "watchlist/base.html" %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'show:list' %}">Shows</a></li>
<li class="breadcrumb-item"><a href="{% url 'show:detail' show.id %}">{{ show.id }}</a></li>
<li class="breadcrumb-item active">Add Nyaa Source</li>
{% endblock %}

{% block content %}
<h1>Add Nyaa Source</h1>
<table>
  <tr><th>ID</th><td>{{ show.id }}</td></tr>
  <tr><th>Name</th><td>{{ show.name }}</td></tr>
  {% if show.name_native %}<tr><th>Native Name</th><td>{{ show.name_native }}</td></tr>{% endif %}
</table>
<form method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" class="btn btn-warning" name="test" value="Test">
  <input type="submit" class="btn btn-warning" name="create" value="Create">
</form>
{% if source_uri %}Trying <a href="{{ source_uri }}">Nyaa RSS</a>...
{% if not source_data %}
did not yield any episodes</p>
{% else %}Found {{ source_data|length }} episodes:</p>
<table>
  <thead>
  <tr><th>Date</th><th>Title</th><th>Size</th></tr>
  </thead>
  <tbody>
  {% for line in source_data %}
  <tr>
    <td>{{ line.date }}</td>
    <td>{{ line.title }}</td>
    <td>{{ line.size }}</td>
  </tr>
  {% empty %}
  <tr><td colspan="3">No Episodes found</td></tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
{% endif %}
{% endblock %}
