
{% extends "show/base.html" %}
{% load static %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'show:list' %}">Shows</a></li>
<li class="breadcrumb-item active">{{ object.pk }}</li>
{% endblock %}

{% block content %}
<h2>Details</h2>
<table class="table">
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>name</td><td>{{ object.name }}</td></tr>
    <tr><td>name_native</td><td>{{ object.name_native|default:"" }}</td></tr>
    <tr><td>Release Date</td><td>{{ object.release_date|default:"" }}</td></tr>
    <tr><td>External references</td>
        <td>{% for i, u in object.get_ext_uris %}<a href="{{u}}">{{i}}</a> {% endfor %}</td>
    </tr>
    <tr><td>Sources</td>
        <td>{% for i, u in object.get_source_uris %}<a href="{{u}}">{{i}}</a> {% endfor %}</td>
    </tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>
<a class="btn btn-secondary" href="{% url 'show:watch' object.pk %}">Refresh</a>


{% if sources %}
<h2>Current Sources [{{sources.SOURCE_SLUG }}]</h2>
<table>
  <thead><tr>
    <th>Season</th>
    <th>Episode</th>
    <th>Episode title</th>
    <th>Size</th>
    <th>link</th>
  </tr></thead>
  <tbody>
{% for ep in sources %}
  <tr>
    <td>{{ ep.season }}</td>
    <td>{{ ep.episode }}</td>
    <td>{{ ep.title }}</td>
    <td>{{ ep.size }}</td>
    <td><a href="{{ep.dl}}">Watch</a></td>
  </tr>
{% empty %}
  <tr><td colspan="3">No sources available</td></tr>
{% endfor %}
  </tbody>
</table>
{% endif %}

{% if source_cache %}
<h2>Cached Source</h2>
<table>
  <thead><tr>
    <th>Season</th>
    <th>Episode</th>
    <th>Revision</th>
    <th>Publication Date</th>
    <th>Episode title</th>
    <th>Source</th>
    <th>link</th>
    <th>Cache Date</th>
  </tr></thead>
  <tbody>
{% for ep in source_cache %}
  <tr>
    <td>{{ ep.season|default:"" }}</td>
    <td>{{ ep.episode }}</td>
    <td>{{ ep.revision|default:"" }}</td>
    <td>{{ ep.pub_date }}</td>
    <td>{{ ep.title }}</td>
    <td><a href="{{ep.guid}}">Details</a></td>
    <td><a href="{{ep.url}}">Watch</a></td>
    <td>{{ ep.timestamp }}</td>
  </tr>
{% empty %}
  <tr><td colspan="3">No cached items available</td></tr>
{% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
