{% extends "show/base.html" %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
<li class="breadcrumb-item active">Shows</li>
{% endblock %}

{% block content %}
<table>
  <thead><tr>
    <th>ID</th>
    <th>Ext Reference</th>
    <th>Title</th>
    <th>Title (Ori)</th>
    <th>Date</th>
  </tr></thead>
  <tbody>
{% for object in object_list %}
  <tr>
    <td><a href="{% url 'show:detail' object.pk %}">{{object.id}}</a></td>
    <td>
      {% for i, u in object.get_ext_uris %}<a href="{{u}}">{{i}}</a>{% endfor %}
    </td>
    <td>{{object.name}}</td>
    <td>{{object.name_native|default:"-"}}</td>
    <td>{{object.release_date|default:"-"}}</td>
  </tr>
{% empty %}
  <tr><td colspan="5">No shows available</td></tr>
{% endfor %}
  </tbody>
</table>
<div>
  <a class="btn btn-primary" href="{#% url 'show:show_create' %#}">Create a new show</a>
  <a class="btn btn-secondary" href="{#% url 'show:show_import_mal' %#}">Import show from MyAnimeList</a>
</div>
{% endblock %}
