{% if item.episode >= item.show.episodes %}
<div class="progress" role="progressbar" aria-label="show is complete" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar bg-success" style="width: 100%">complete</div>
</div>
{% elif item.status == 'W' %}
{% if not item.is_release_overdue %}
<div class="progress" role="progressbar"
     aria-label="percentage of week passed until next episode release"
     aria-valuenow="{{ item.release_progress }}"
     aria-valuemin="0" aria-valuemax="604800">
  <div class="progress-bar bg-success" style="width: {{ item.release_progress_percent }}%">
    {{ item.cache_release_date|timesince }}
  </div>
</div>
{% else %}
<div class="progress-stacked">
  <div class="progress" role="progressbar"
       aria-label="percentage of week passed until next episode release"
       aria-valuenow="{{ item.release_progress }}"
       aria-valuemin="0"
       aria-valuemax="604800"
       style="width: {{ item.release_progress_percent }}%">
    <div class="progress-bar">{{ item.cache_release_date|timesince }}</div>
  </div>
  <div class="progress" role="progressbar"
       aria-label="time next release is overdue"
       aria-valuenow="{{ item.release_overdue }}"
       aria-valuemin="0"
       aria-valuemax="{{ item.release_overdue }}"
       style="width: {{ item.release_overdue_percent }}%">
    <div class="progress-bar bg-danger">{{ item.release_expected_date|timesince }}</div>
  </div>
</div>
{% endif %}
{% endif %}
