{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs-wrapper %}{% endblock %}

{% block content %}
<h1>{% translate 'Logged out' %}</h1>
<p>{% translate 'You were logged out successfully' %}</p>
<p><a href="{% url 'login' %}">{% translate 'Log in again' %}</a></p>
{% endblock %}
